[user]
	email = ainyava@gmail.com
	name = Hamed Mahmoudkhani
[core]
	editor = nvim
	eol = lf
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
