[Desktop Entry]
Name=NeoVim
Comment=Edit files using NeoVim
Exec=alacritty --class NeoVim -e nvim
Icon=nvim
Terminal=false
Type=Application
Categories=Utility;TextEditor;
StartupWMClass=NeoVim

